.pentagramma{
    stroke: black;
    stroke-width: 1;
    left: 20%;
    grid-area: 1/2/2/2;
}

.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 205px 1fr 1fr 1fr;
    position: absolute;
    right: 10%;
}

.pentagrammaContainer{
    position: absolute;
    top: 0px;
    right: 5%;
    height: 200px;
}

.item-pentagramma{
position: absolute;
left: 0%;
bottom: 55%;
}