#counter_button {
    background-color: blue;
    color: white;
    width: 500px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
}
#counter_button2 {
    background-color: blue;
    color: white;
    width: 500px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
}