

/* Lines for the notes */

.mark {
        border-bottom: 2px solid #000;
        top: -0.18em; /* Tweak this and the other top in equal, but opposite values */
        position: relative;
    }

.offsetMark {
        position: relative;
        top: 0.2em; /* Tweak this and the other top in equal, but opposite values */
    }

/* Whole notes are still problematic */

.markWhole {
        border-bottom: 2px solid #000;
        top: -0.12em; /* Tweak this and the other top in equal, but opposite values */
        position: relative;
    }

.offsetMarkWhole {
        position: relative;
        top: 0.11em; /* Tweak this and the other top in equal, but opposite values */
    }

