/* Music Score  */

  
  section{
  /*   display: flex; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  /*   grid-template-rows: 1 1fr; */
    border: 2px solid black;
    background: linear-gradient(to bottom, #fff, #fff 24%, #000 24%, #000 26%, #fff 26%,#fff 49%, #000 49%, #000 51%, #fff 51%, #fff 74%, #000 74%, #000 76%, #fff 76%);
    margin: 0px;
    padding: 0px;
    
  /*   justify-content: space-around; */
  }
  
  p { 
  /*   display: inline-block; */
    position: relative;
     font-family: 'SymbolaRegular'; 
     font-weight: normal; 
     font-style: normal; 
    margin:0px;
    margin-top: 0.35em;
    padding:0px;
    letter-spacing: 0em;
  }
  
  .whole{
    font-size: 5em;
    margin: 0;
    padding:0;
    line-height: 0em;
  }
  
  .clef{
    font-size: 5em;
    line-height: 0.75em;
    margin: 0px;
    margin-left: 0.7em;
    padding:0px;
  }
  
  .half{
    font-size: 6em;
    line-height: 0;
    margin-top:62px;
    padding: 0;
  }
  
  .quarter{
    margin-bottom: -0.5em;
    font-size: 4.25em;
  }
  
  .eighth{
    margin-bottom: -0.5em;
    font-size: 4em;
  }
  
  .halfRest{
    background: black;
    width: 1.2em;
    height: 0.5em;
    margin: 1.5em .5em 0em .5em;
  }
  
  /* Modifiers */
  
  .sharp{
    font-size: 2em;
    font-weight: 1000;
    top: 0em;
    transform: skew(-10deg);
  }
  
  #testBar{
    position: absolute;
    background: black;
    width: 4.1em;
    height: 5px;
    top: 4.5em;
    left: 56.25em;
    transform: skew(0deg, -15deg);
  }
  
  /* Lines to go over all of the notes */
  
  .tie {
      position: absolute;
      width: 250px;
      height: 40px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border: 5px solid black;
      border-bottom: 0;
      border-width: 5px 0px;
    
      top: 45px;
      left: 8.5em;
  }
  
  
  /* Lines for the notes */
  
  .mark {
          border-bottom: 2px solid #000;
          top: -0.18em; /* Tweak this and the other top in equal, but opposite values */
          position: relative;
      }
  
  .offsetMark {
          position: relative;
          top: 0.2em; /* Tweak this and the other top in equal, but opposite values */
      }
  
  /* Whole notes are still problematic */
  
  .markWhole {
          border-bottom: 2px solid #000;
          top: -0.12em; /* Tweak this and the other top in equal, but opposite values */
          position: relative;
      }
  
  .offsetMarkWhole {
          position: relative;
          top: 0.11em; /* Tweak this and the other top in equal, but opposite values */
      }
  
  /* Every Note as a class */
  
  .lowe{
  /*   line-height: -3em; */
  /*   text-decoration: line-through;  */
  /*   This has become the default */
  }
  
  .lowf{
    bottom: 0.1em;
  }
  
  .lowg{
    bottom: 0.2em;
  }
  
  .lowa{
    bottom: 0.35em;
  }
  
  .lowb{
    bottom: 0.45em;
  }
  
  .lowc{
    bottom: 0.6em;
  }
  
  /* high notes get flipped the other way  */
  
  .high{
    transform: rotate(180deg);
  }
  
  /* Whole Note Classes */
  
  .whole.lowe{
    margin-top: 0.62em;
  }
  .whole.lowf{
    margin-top: 0.64em;
  }
  .whole.lowg{
    margin-top: 0.65em;
  }
  .whole.lowa{
    margin-top: 0.69em;
  }
  .whole.lowb{
    margin-top: 0.68em;
  }
  .whole.lowc{
    margin-top: 0.72em;
  }
  
  .whole.d{
    margin-top: 0.16em;
  }
  
  .whole.e{
    margin-top: 0.16em;
  }
  
  .whole.f{
    margin-top: 0.2em;
  }
  
  .whole.g{
    margin-top: 0.2em;
  }
  
  .whole.a{
    margin-top: 0.24em;
  }
  
  .whole.b{
    margin-top: 0.25em;
  }
  
  .whole.c{
    margin-top: 0.23em;
  }
  
  /* Half Note Classes */
  
  .half.lowe{
    bottom: 0.15em;
  }
  
  .half.lowf{
    bottom: 0.25em;
  }
  
  .half.lowg{
    bottom: 0.33em;
  }
  
  .half.lowa{
    bottom: 0.43em;
  }
  
  .half.lowb{
    bottom: 0.52em;
  }
  
  .half.lowc{
    bottom: 0.6em;
  }
  
  .half.high.d{
    top:0.05em;
  }
  
  .half.high.e{
    bottom: 0.03em;
  }
  
  .half.high.f{
    bottom: 0.12em;
  }
  
  .half.high.g{
    bottom: 0.21em;
  }
  
  .half.high.a{
    bottom: 0.3em;
  }
  
  .half.high.b{
    bottom: 0.4em;
  }
  
  .half.high.c{
    bottom: 0.5em;
  }