/* General Styling */
body {
    font-family: 'Arial Rounded MT Bold', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    line-height: 1;
}

.resultsPage{
    display: flex;
}

/* Header Section */
.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #008080; /* Teal */
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Required for absolute centering */
    height: 75px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap; /* Prevents text wrapping */
}

.header-center h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

#information
{
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}


/* Language and Action Buttons (Login/Register) */
.language-btn,
.btn-secondary,
#loginBtn, /* Login Button */
#registerBtn { /* Register Button */
    background-color: white;
    color: #008080; /* Teal */
    border: 2px solid white;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px;
    margin: 0 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.language-btn:hover,
.btn-secondary:hover,
#loginBtn:hover,
#registerBtn:hover {
    background-color: #FFA500; /* Secondary (Orange) */
    color: white;
    border: 2px solid #FFA500;
}

/* Main Content Section */
.main-container {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Mode Selector Styling */
.mode-selector h2 {
    font-size: 30px;
    margin-bottom: 27px;
    margin-top: 20px;
    color: #006969;
    font-weight: 400;
}

/* Mode Buttons */
.mode-buttons {
    position: absolute;
    left: 10%; /* Position buttons on the left */
    top: 180px; /* Adjust vertical position */
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 20px; /* Add space between buttons */
}

/* Mode Button Styling */
.mode-btn {
    background-color: #008080; /* Teal */
    color: white;
    border-radius: 30px;
    padding: 20px 0; /* Increase padding to make buttons larger */
    width: 250px; /* Make buttons wider */
    font-size: 18px; /* Make text larger */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent; /* Transparent border to prevent resizing */
    height: 100px;
    line-height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ex-btn {
    background-color: #008080;
    color: white;
    border-radius: 30px;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
    height: 100px;
    line-height: 85px;
}
    
.mode-btn:hover {
    background-color: #006666; /* Darker teal on hover */
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFA500; /* Orange border on hover */
}

.ex-btn:hover{
    background-color: #006666; /* Darker teal on hover */
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFA500; /* Orange border on hover */
}

#custom-btn:hover{
    background-color: #006666; /* Darker teal on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFA500; /* Orange border on hover */
}

/* Mascotte Styling */
.frame {
    text-align: center;
}

.mascotte {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
    -webkit-filter: drop-shadow(1px 5px 5px #787878bd);
    filter: drop-shadow(1px 5px 5px #606060b9);
    margin-bottom: -3%;
}

/* Authentication Section */
.auth-section {
    position: absolute;
    top: 180px; 
    right: 100px;
    width: 300px;
    background-color: white;
    border: 2px solid #008080;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-section h3 {
    color: #008080;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.auth-section .form-control {
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

.auth-buttons {
    display: flex;
    justify-content: space-between; /* Space buttons evenly */
    gap: 10px;
}

.auth-buttons button {
    background-color: #008080;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 15px; /* Adjust padding for size */
    width: 48%; /* Ensure buttons fit side by side */
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s ease, box-shadow 0.3s ease;
}

.auth-buttons button:hover {
    background-color: #006666;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFA500;
}

.stack {
    display: inline-grid;
    text-align: center;
    grid-template-columns: repeat(2,200px);
    gap: 15px 65px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5%;
    }


    .level-map {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .levels {
        display: flex;             /* Flexbox para el contenedor principal */
        flex-direction: column;
        gap: 20px; /* 20px gap between buttons */
        justify-items: center;
        margin-top: 30px;
    }


    .level-btn {
        background-color: #008080; /* Teal */
        color: white;
        border-radius: 20px;
        font-size: 18px;
        font-weight: bold;
        padding: 20px 0;
        width: 150px; /* Button width */
        height: 80px; /* Button height */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    }
    
    .level-btn:hover {
        background-color: #006666; /* Darker teal on hover */
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid #FFA500; /* Orange border on hover */
    }
    
    .level-btn:active {
        background-color: #004d40; /* Even darker teal on active */
    }

    .test-btn{
        background-color: #e10b0b; /* Teal */
    }

    .test-btn:hover {
        background-color: #870202; /* Darker teal on hover */
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid #FFA500; /* Orange border on hover */
    }
    
    .test-btn:active {
        background-color: #680000; /* Even darker teal on active */
    }
    

    .home-img {
        height: 40px;
        width: 40px;
    }


:root {
    --gap: 8.33%;
}

#arcade{
    background: linear-gradient(
        to bottom,
        #e57373 0%, #e57373 calc(0% + var(--gap)),
        #ffb74d 8.33%, #ffb74d calc(8.33% + var(--gap)),
        #fff176 16.66%, #fff176 calc(16.66% + var(--gap)),
        #81c784 25%, #81c784 calc(25% + var(--gap)),
        #4caf50 33.33%, #4caf50 calc(33.33% + var(--gap)), 
        #66bb6a 41.66%, #66bb6a calc(41.66% + var(--gap)), 
        #26a69a 50%, #26a69a calc(50% + var(--gap)), 
        #29b6f6 58.33%, #29b6f6 calc(58.33% + var(--gap)), 
        #42a5f5 66.66%, #42a5f5 calc(66.66% + var(--gap)),  
        #7e57c2 75%, #7e57c2 calc(75% + var(--gap)), 
        #ab47bc 83.33%, #ab47bc calc(83.33% + var(--gap)), 
        #8e24aa 91.66%, #8e24aa 100%);
}

.exercise_button {
    background-color: #008080;
    color: white;
    border-radius: 15px;
    width: 150px;
    font-size: 18px;
    display: flex; /* Makes text positioning easier */
    flex-direction: column; /* Stacks text into multiple lines */
    align-items: center; /* Centers text horizontally */
    justify-content: center; /* Centers text vertically */
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
    height: 85px;
    padding: 5px; /* Adds spacing to prevent text cutoff */
    line-height: 1.2; /* Allows text to breathe */
    
    word-wrap: break-word; /* Ensures text breaks inside the button */
    overflow-wrap: break-word; /* Prevents overflow issues */
    white-space: normal; /* Ensures text wraps */
}



.exercise_button:hover{
    background-color: #006666;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFA500;
}

.exercise_button:active{
    background-color: #015555;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(200, 200, 200, 0.2);
    border: 2px solid #f6f6f6;
}

.ex_btn_container {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive columns */
    grid-template-rows: repeat(1, 1fr); /* Forces exactly two rows */
    grid-gap: 15px;
    grid-auto-flow: column; /* Forces elements to go sideways */

    
    top: 44%;
    left: 38.7%;
    transform: translateY(-50%);
    justify-content: start;
    align-content: start;
    
    max-height: calc(85px * 2 + 50px); /* Limits to two rows */
    max-width: 670px; /* Set the max width for scroll */
    
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Prevents vertical scrolling */
    white-space: nowrap; /* Ensures items do not break into new lines */
    
    scrollbar-gutter: stable; /* Prevents layout shifts */
    touch-action: pan-x; /* Allows only horizontal scrolling */
    padding: 15px;
}

.level-row {
    display: flex;             /* Flexbox para las filas de niveles */
    gap: 40px;                 /* Espacio entre botones dentro de cada fila */
    justify-content: center;   /* Centrar los botones horizontalmente */
    align-items: center;       /* Centrar los botones verticalmente */
    flex-wrap: wrap;           /* Permite que los botones se ajusten si hay demasiados */
  }

  .separator {
    display: block;            /* Los separadores ocupan todo el ancho disponible */
    text-align: center;        /* Centrar el texto */
    margin-top: 20px;          /* Espacio arriba del separador */
    font-style: italic;        /* Estilo opcional para el separador */
  }
  
.control_btn{
    justify-content: center;
    align-content: center;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.control_btn_icon{
    height: 40px;
    width: 40px;
}

.control_btn_icon:hover{
    transform: scale(1.05);
    -webkit-filter: drop-shadow(1px 5px 5px #78787865);
    filter: drop-shadow(1px 5px 5px #6060606f);
}
.control_btn_icon:active{
    transform: scale(1.05);
    -webkit-filter: drop-shadow(1px 5px 5px #9a9a9a65);
    filter: drop-shadow(1px 5px 5px #c8c8c86f);
}

.control_btn_container {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
}

.level-info{
    text-align: center;
}

.results_btn{
    background-color: #008080; 
    color: white;
    border-radius: 24px;
    padding: 20px 0;
    width: 630px; 
    font-size: 35px; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent; 
    height: 60px;
    line-height: 20px
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    min-width: 400px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px 12px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}

.category_slider{
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    background-color: white;
    border-color: #008080;
    border-style: solid;
    border-width: 3px;
    margin-top: 3.5%;
    margin-bottom: 1.5%;
    z-index: 2;
}

.slider_element {
    border-radius: 50px;
    background-color: white;
    border-style: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
    color: #008080;
    height: 30px;
    width: 100px;
    box-sizing: content-box;
    opacity: 1; /* Initial opacity */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.slider_element.active {
    background-color: #008080; /* Active background color */
    color: white;
    animation: slider-animation 0.3s ease forwards; /* Apply animation */
}

@keyframes slider-animation {
    0% {
        opacity: 0.5; /* Start partially transparent */
        transform: translateX(-5%);
        border-radius: 0px;
    }
    25% {
        opacity: 0.7; /* Start partially transparent */
        transform: translateX(10%);
        border-radius: 10px;
    }
    100% {
        opacity: 1; /* Fully visible */
    }
}

#results{
    position: absolute;
    margin-top: 3%;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    text-align: center;
}


.bars {
    display: flex;
    gap: 10px; /* Space between correct and total block groups */
    align-items: center; /* Align bars to the bottom for consistency */
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}

.correct_blocks,
.total_blocks {
    display: flex;
    flex-direction: row; /* Stack bars vertically */
    position: absolute; /* Enable stacking on the z-axis */
}

.correct_blocks{
    width: 500px;
    background: lightgray;
    border-radius: 50px;
}

.correct_bar, .total_bar {
    width: 50px;
    height: 20px; /* Default height for individual bars */
    position: relative; 
    top: 0;
    left: 0;
}

.correct_bar {
    background-color: #008080;
    z-index: 2; /* Correct bar on top */
}

.total_bar {
    background-color: lightgray;
    border-radius: 20px;
    width: 500px;
    z-index: 1; /* Total bar underneath */
}

/* Add border-radius to the first and last bars in each group */
.correct_blocks .correct_bar:first-child{
    border-radius: 20px 0 0 20px; /* Rounded top corners */
}

.correct_bar:last-child{
    border-radius: 0 20px 20px 0; /* Rounded bottom corners */
}


.item-pentagramma {
    display: inline-block;

}

#pentagramma {
    position: relative;
    top: 150px; /* Mueve el SVG hacia abajo */
}

#calendar {
    display: inline-flex;
    flex-direction: column; /* Makes the calendar vertical */
    align-items: center; /* Centers the content horizontally */
    width: 250px; /* Adjust width as needed */
    border-radius: 20px;
    margin: 0 auto; /* Centers the calendar in the page */
    padding: 10px;
    border: 2.5px solid #008080; /* Optional: Adds a border around the calendar */
    background-color: #fff; 
    position: absolute;
    right: 7%;
    top: 15%;
    max-height: 73%;
    overflow:scroll;
    white-space: nowrap; 
    overflow-x: hidden;
}

.day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 210px;
    height: 40px;
    border: 1.5px dotted #008080;
    background: #fff;
    border-radius: 40px;
    margin: 5px;
}

.day:hover {
    background: #006a6a;
}

.day:active {
    background: #217878;
    border: 2px solid #ffb74d;
}

.day span {
    font-size: 16px; /* Adjust font size */
    color: #008080; /* Text color */
}

.day:hover span, .day:active span{
    color: #fff;
}
/* Estilos generales para botones bloqueados */
.level-btn.locked {
     /* Color gris para botones bloqueados */
    cursor: not-allowed; /* Cursor indicando que está bloqueado */
    transform: none; /* Sin transformaciones */
    box-shadow: none; /* Sin sombras */
    border: 2px solid #999; /* Borde gris claro */
    opacity: 0.6; /* Hacerlos más opacos */
    pointer-events: none; /* Desactiva interacciones con el puntero */
}

/* Desactivar hover en botones bloqueados */
.level-btn.locked:hover,
.test-btn.locked:hover {
     /* Mantener el color bloqueado */
    transform: none; /* Sin escala */
    box-shadow: none; /* Sin sombras */
    border: 2px solid #999; /* Mantener el borde gris */
}

.start_btn{
    background-color: #008080; /* Teal */
    color: white;
    border-radius: 50px;
    padding: 20px 0; /* Increase padding to make buttons larger */
    width: 240px;
    font-size: 18px; /* Make text larger */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent; /* Transparent border to prevent resizing */
    height: 60px;
    line-height: 20px;
    margin-top: 20px;
    position: absolute;
    top: 80%;
}

.start_btn:hover {
    background-color: #006666; /* Darker teal on hover */
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFA500; /* Orange border on hover */
}

.start_btn:active {
    background-color: #004d40; /* Even darker teal on active */
    border: 2px solid #004d00;
}

.start_btn:disabled {
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
    border: 2px solid #999;
    opacity: 0.6;
    pointer-events: none;
}

.sandboxSelector {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.selector-column {
    flex: 1;
    min-width: 0;
}

.collapse-btn {
    width: 100%;
    padding: 8px;
    text-align: center;
    background: #f0f0f0;
    border: 1px solid #004d40;
    cursor: pointer;
    border-radius: 50px;
    color: #004d40;
    width: 240px;
    height: 45px;
}

.selector-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

.selector-content.expanded {
    max-height: 270px;
    overflow: scroll;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 8px;
    padding: 10px;
    color: #004d40;
}

label {
    display: inline-block;
    margin-left: 5px;
}

.checkbox-grid input[type="checkbox"] {
    accent-color: #006a6a;
}

#resultsContent{
    width: auto;
    margin-top: 30%;
    margin-bottom: 3%;
    max-height: 480px;
    overflow: scroll;
}

.exerciseRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px; 
    margin: 0 auto;
    gap: 20px;
    height: 10px;
    margin-bottom: 45px;
    padding-bottom: 55px;
    margin-bottom: 20px;
    border-bottom-color: #003f3266;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
}

.exerciseRow:last-child{
    border-bottom: none;
}

.exerciseType {
    flex: 0 0 110px;
    text-align: center;
    margin: 0;
    color: #004d40;
    margin-top: 5%;
}

.exercisePercentage {
    flex: 0 0 110px; 
    text-align: left;
    margin: 0;
    color: #004d40;
    margin-top: 5%;
}

.bars {
    flex: 1;  /* Occupa lo spazio rimanente */
    position: relative;
}

.correct_blocks {
    display: flex;
    width: 100%;
    background: lightgray;
    border-radius: 50px;
    height: 20px;
    width: 500px;
}

.correct_bar {
    height: 100%;
    background-color: #008080;
    width: 50px;
}

.correct_bar:first-child {
    border-radius: 50px 0 0 50px;
}

.correct_bar:last-child {
    border-radius: 0 50px 50px 0;
}

#resultsTitle
{
    margin-top: 30px;
}

#custom-btn{
    position: relative;
    background-color: #008080; /* Teal */
    color: white;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
    width: 300px; /* Button width */
    height: 50px; /* Button height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2%;
}

.control_btn_container_vox{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
}

.tuner{
    background-color: #008080;
    width: 500px;
    height: 200px;
    border-radius: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
}

.notebox{
    background-color: #f7f7f7;
    width: 250px;
    height: 150px;
    border-radius: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    box-shadow: inset 0 0 10px 2px #323837;
    font-size: 80px;
    text-align: center;
    line-height: 150px;
}

.centsbox{
    background-color: #f7f7f7;
    width: 50px;
    height: 30px;
    border-radius: 40px;
    position: relative;
    bottom: 3%;
    left: 74%;
    line-height: 30px;
    box-shadow: inset 0 0 10px 0.5px #323837;
}

#enable-mic{
    background-image: url('/assets/img/mic_disabled.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
    box-shadow: none;
    position: relative;
    border: none;
    width: 90px;
    height: 90px;
    bottom: 75%;
    left: 70%;
}

#enable-mic.active{
    background-image: url('/assets/img/mic.png');
}

#enable-mic:hover{
    transform: scale(1.1);
    -webkit-filter: drop-shadow(1px 5px 5px #585858aa);
    filter: drop-shadow(1px 5px 5px #555555a1);
}

#mictext{
    position: relative;
    top: 100%;
    right: 14%;
    width: max-content;
    color: #000000;
    font-size: small;
}

.indicators{
    position: relative;
    color: #e2e2e2;;
    bottom: 60%;
    line-height: 18px;
    left: 66.7%;
    display: grid;
    grid-template-columns: 20px 20px;
    gap: 81px;
    font-size: 22px;
}

.tuneIndicator{
    text-shadow: 2px 2px 3px rgba(84, 84, 84, 0.5);
    background-clip: text;
}

#sharp{
    transform: rotate(180deg);
}

#microphoneStatus{
    margin-top: -10px;
}

/* Estilos para el modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 2000;
    width: 300px;
    height: 250px;
    display: none; /* Hidden by default */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    display: block;
}

.modal-button {
    padding: 10px 20px;
    background-color: #008080; /* Teal */
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 8%;
    margin-bottom: 25%;
    width: 200px;
    border-radius: 20px;
    margin-inline: 3px;
}

.modal-button:hover{
    background-color: #0c6565; /* Secondary (Orange) */
    color: white;
    border: 2px solid #FFA500;
}

#resultModal{
    top: 80%;
}

#resultMessage{
    margin-top: 10%;
    font-size: 18px;
}

#resulth2{
    color: #008080;
}

.repsSelector{
    position: absolute;
    bottom: 25%;
}

#reps{
    border-radius: 20px;
    border: 2px solid #008080;
    width: 25%;
    padding-left: 5%;
    padding-right: 2%;
}

.tutorial{
    position:absolute;
    left:70%;
    top: 50%;
}

.mascotteSmall{
    transform: scale(0.7);
    margin: -7%;
    -webkit-filter: drop-shadow(1px 5px 5px #787878bd);
    filter: drop-shadow(1px 5px 5px #606060b9);
}

.helpMe{
    position: absolute;
    left: 70%;
    top: 40%;
    display: block;
    justify-content: center;
    text-align: center;
}

.helpMeMap{
    position: absolute;
    right: -4%;
    top: 40%;
    display: block;
    justify-content: center;
    text-align: center;
}

.mascotteLevel{
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    margin: -7%;
    -webkit-filter: drop-shadow(1px 5px 5px #787878bd);
    filter: drop-shadow(1px 5px 5px #606060b9);
}

.mascotteLevel:hover{
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.73);
    margin: -7%;
    -webkit-filter: drop-shadow(1px 6px 6px #4f4f4fbd);
    filter: drop-shadow(1px 6px 6px #434343b9);
}

.exercisePrompt{
    margin-bottom: 5%;
    margin-top: 2%;
}

.help{
    margin-top: -10%;
    margin-left: 2%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.tutorial{
    background-color: #008080;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 77%;
    color: whitesmoke;
    display: none;
    max-width: 300px;
    max-height: 190px;
    overflow-y: scroll;
}
